<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
          <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-donate"></i>
          </div>
          <div class="sidebar-brand-text mx-3"><small style="text-transform: lowercase">e</small>SPP</div>
        </a>
  
        <!-- Divider -->
        <hr class="sidebar-divider my-0">
  
        <!-- Nav Item - Dashboard -->
        
        <li class="nav-item <% if(page == 'beranda') { %> active <% } %>">
          <a class="nav-link py-2" href="/spp/pages/beranda">
            <i class="fas fa-fw fa-home"></i>
            <span>Beranda</span>
          </a>
        </li>
  
        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item <% if(page == 'cari_transaksi' || page == 'riwayat') { %> active <% } %>">
          <a class="nav-link <% if(page != 'cari_transaksi' && page != 'riwayat') { %> collapsed <% } %> py-2" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="<% if(page == 'cari_transaksi' || page == 'riwayat') { %> true <% } %>" aria-controls="collapsePages">
            <i class="fas fa-fw fa-hand-holding-usd"></i>
            <span>Pembayaran</span>
          </a>
          <div id="collapsePages" class="collapse <% if(page == 'cari_transaksi' || page == 'riwayat') { %> show <% } %>" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <a class="collapse-item <% if(page == 'cari_transaksi') { %> active <% } %>" href="/spp/pages/pembayaran/transaksi">Transaksi</a>
              <a class="collapse-item <% if(page == 'riwayat') { %> active <% } %>" href="/spp/pages/pembayaran/riwayat">Riwayat</a>
            </div>
          </div>
        </li>
  
        <li class="nav-item <% if(page == 'pengumuman'){ %> active <% } %>">
          <a class="nav-link py-2" href="/spp/pages/pengumuman">
            <i class="fas fa-fw fa-bullhorn"></i>
            <span>Pengumuman</span>
          </a>
        </li>
  
        <!-- Divider -->
        <hr class="sidebar-divider">
        
        <% if(akun.roles == 'admin') { %>
        <!-- Heading -->
        <div class="sidebar-heading text-white">
          DATA MASTER
        </div>
  
        <li class="nav-item <% if(page == 'siswa') { %> active <% } %>">
          <a class="nav-link py-2" href="/spp/pages/siswa">
            <i class="fas fa-fw fa-user"></i>
            <span>Siswa</span>
          </a>
        </li>
  
        <li class="nav-item <% if(page == 'kelas') { %> active <% } %>">
          <a class="nav-link py-2" href="/spp/pages/kelas">
            <i class="fas fa-fw fa-school"></i>
            <span>Kelas</span>
          </a>
        </li>

        <li class="nav-item <% if(page == 'jurusan') { %> active <% } %>">
          <a class="nav-link py-2" href="/spp/pages/jurusan">
            <i class="fas fa-fw fa-graduation-cap"></i>
            <span>Jurusan</span>
          </a>
        </li>

        <li class="nav-item <% if(page == 'spp') { %> active <% } %>">
          <a class="nav-link py-2" href="/spp/pages/manajemen_spp">
            <i class="fas fa-fw fa-money-check-alt"></i>
            <span>SPP</span>
          </a>
        </li>
  
        <li class="nav-item <% if(page == 'petugas') { %> active <% } %>">
          <a class="nav-link py-2" href="/spp/pages/petugas">
            <i class="fas fa-fw fa-user-tie"></i>
            <span>Petugas</span>
          </a>
        </li>
        
        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">
        <% } %>
  
        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
          <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
</ul>